<h3>Click on top of the block to make them fade using the click event on the component</h3>

{{#student-info}}
Hello World<br>
{{/student-info}}<br>

Dynamic component:
{{#each model as |comp|}}
	{{component comp}}
{{/each}}
	<p>Hello</p>
{{student-list}}


	<h4>Click on this link to try closure actions on a component</h4>
	